# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [3]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cape Town,ZA,-33.9258,18.4232,70.09,64,20,18.41,few clouds
1,1,Talnakh,RU,69.4865,88.3972,18.14,94,100,9.37,light snow
2,2,Isangel,VU,-19.5500,169.2667,76.08,88,46,3.11,scattered clouds
3,3,Filadelfia,US,39.9523,-75.1638,56.55,55,20,10.36,few clouds
4,4,Castro,BR,-24.7911,-50.0119,77.38,60,100,8.32,heavy intensity rain
5,5,Florianopolis,BR,-27.6146,-48.5012,81.41,61,20,14.97,light rain
6,6,Coquimbo,CL,-29.9533,-71.3436,58.73,82,75,8.05,broken clouds
7,7,Kurchum,KZ,48.5722,83.6542,33.76,52,5,6.85,clear sky
8,8,Te Anau,NZ,-45.4167,167.7167,50.34,90,69,5.79,light rain
9,9,Ushuaia,AR,-54.8000,-68.3000,42.42,87,100,21.85,light rain

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [4]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 100

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [5]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
 
# Display sample data
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cape Town,ZA,-33.9258,18.4232,70.09,64,20,18.41,few clouds
2,2,Isangel,VU,-19.5500,169.2667,76.08,88,46,3.11,scattered clouds
3,3,Filadelfia,US,39.9523,-75.1638,56.55,55,20,10.36,few clouds
4,4,Castro,BR,-24.7911,-50.0119,77.38,60,100,8.32,heavy intensity rain
5,5,Florianopolis,BR,-27.6146,-48.5012,81.41,61,20,14.97,light rain

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [6]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cape Town,ZA,-33.9258,18.4232,70.09,64,20,18.41,few clouds
2,2,Isangel,VU,-19.5500,169.2667,76.08,88,46,3.11,scattered clouds
3,3,Filadelfia,US,39.9523,-75.1638,56.55,55,20,10.36,few clouds
4,4,Castro,BR,-24.7911,-50.0119,77.38,60,100,8.32,heavy intensity rain
5,5,Florianopolis,BR,-27.6146,-48.5012,81.41,61,20,14.97,light rain

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [11]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

             City Country  Max Temp   Current Description      Lat       Lng
0       Cape Town      ZA     70.09            few clouds -33.9258   18.4232
2         Isangel      VU     76.08      scattered clouds -19.5500  169.2667
3      Filadelfia      US     56.55            few clouds  39.9523  -75.1638
4          Castro      BR     77.38  heavy intensity rain -24.7911  -50.0119
5   Florianopolis      BR     81.41            light rain -27.6146  -48.5012
6        Coquimbo      CL     58.73         broken clouds -29.9533  -71.3436
8         Te Anau      NZ     50.34            light rain -45.4167  167.7167
10    Port Alfred      ZA     72.75       overcast clouds -33.5906   26.8910
14        Samarai      PG     81.12             clear sky -10.6167  150.6667
19          Adrar      MR     91.02      scattered clouds  20.5022  -10.0711

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [12]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Cape Town,ZA,70.09,few clouds,-33.9258,18.4232,
2,Isangel,VU,76.08,scattered clouds,-19.5500,169.2667,
3,Filadelfia,US,56.55,few clouds,39.9523,-75.1638,
4,Castro,BR,77.38,heavy intensity rain,-24.7911,-50.0119,
5,Florianopolis,BR,81.41,light rain,-27.6146,-48.5012,
6,Coquimbo,CL,58.73,broken clouds,-29.9533,-71.3436,
8,Te Anau,NZ,50.34,light rain,-45.4167,167.7167,
10,Port Alfred,ZA,72.75,overcast clouds,-33.5906,26.8910,
14,Samarai,PG,81.12,clear sky,-10.6167,150.6667,
19,Adrar,MR,91.02,scattered clouds,20.5022,-10.0711,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [13]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [14]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Cape Town,ZA,70.09,few clouds,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
2,Isangel,VU,76.08,scattered clouds,-19.5500,169.2667,Tanna Lodge
3,Filadelfia,US,56.55,few clouds,39.9523,-75.1638,"The Ritz-Carlton, Philadelphia"
4,Castro,BR,77.38,heavy intensity rain,-24.7911,-50.0119,CHACARA BAILLY
5,Florianopolis,BR,81.41,light rain,-27.6146,-48.5012,Hotel Boutique Quinta das Videiras

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [17]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Cape Town,ZA,70.09,few clouds,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
2,Isangel,VU,76.08,scattered clouds,-19.5500,169.2667,Tanna Lodge
3,Filadelfia,US,56.55,few clouds,39.9523,-75.1638,"The Ritz-Carlton, Philadelphia"
4,Castro,BR,77.38,heavy intensity rain,-24.7911,-50.0119,CHACARA BAILLY
5,Florianopolis,BR,81.41,light rain,-27.6146,-48.5012,Hotel Boutique Quinta das Videiras
...,...,...,...,...,...,...,...
694,Bozova,TR,61.72,clear sky,37.3625,38.5267,Bozova Öğretmen Evi
696,Ho Chi Minh City,VN,80.62,scattered clouds,10.7500,106.6667,Windsor Plaza Hotel
697,Huron,US,62.67,clear sky,41.1501,-82.5499,Meadow Brook Mobile Estates
700,Danjiangkou,CN,59.02,overcast clouds,32.5428,111.5086,Dongsheng Guesthouse
701,Koutiala,ML,94.14,clear sky,12.3917,-5.4642,Hotel La Chaumiere

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [19]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [20]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [21]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [22]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Radisson Blu Hotel Waterfront, Cape Town</dd>\n<dt>City</dt><dd>Cape Town</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>few clouds and 70.09 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Tanna Lodge</dd>\n<dt>City</dt><dd>Isangel</dd>\n<dt>Country</dt><dd>VU</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 76.08 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Ritz-Carlton, Philadelphia</dd>\n<dt>City</dt><dd>Filadelfia</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>few clouds and 56.55 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>CHACARA BAILLY</dd>\n<dt>City</dt><dd>Castro</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>heavy intensity rain and 77.38 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Boutique Quinta das Videiras</dd>\n<dt>City</dt><dd>Florianopolis</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>light rain and 81.41 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel San Juan</dd>\n<dt>City</dt><dd>Coquimbo</dd>\n<dt>Country</dt><dd>CL</dd>\n<dt>Current Weather</dt><dd>broken clouds and 58.73 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Kingsgate Hotel Te Anau</dd>\n<dt>City</dt><dd>Te Anau</dd>\n<dt>Country</dt><dd>NZ</dd>\n<dt>Current Weather</dt><dd>light rain and 50.34 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Halyards Hotel & Spa</dd>\n<dt>City</dt><dd>Port Alfred</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 72.75 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Nuli Sapi</dd>\n<dt>City</dt><dd>Samarai</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Current Weather</dt><dd>clear sky and 81.12 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Adrar</dd>\n<dt>Country</dt><dd>MR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 91.02 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [38]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0  -33.9258   18.4232
2  -19.5500  169.2667
3   39.9523  -75.1638
4  -24.7911  -50.0119
5  -27.6146  -48.5012
6  -29.9533  -71.3436
8  -45.4167  167.7167
10 -33.5906   26.8910
14 -10.6167  150.6667
19  20.5022  -10.0711

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [42]:
# Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))